body {
  font-family: $font-main;
  font-size: $font-size-base;
  color: $text-color;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  margin-bottom: 0.5em;
  font-weight: bold;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
